/* Reset defult margin, padding, and box-sizing */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pirata One", system-ui;
  min-height: 100vh;
  background: url(./img/bgonepiece.png);
  overflow: hidden;
}

/* Styling for the holes container for barrel */
.holes {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3,160px); /* Set grid columns */
  background: url(./img/bgboard.png);
  gap: 10px;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 650px;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  border-radius: 10px;
}

.holes:after {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for individual barrel */
.hole {
  position: relative;
  width: 160px;
  height: 210px;
  overflow: hidden;
  pointer-events: none;
}

.pile {
  position: absolute;
  bottom: -0px;
  left: 30px;
  width: 80px;
  object-fit: cover;
  pointer-events: none;
}

.buggy {
  position: absolute;
  top: 130px;
  left: 30px;
  width: 65px;
  object-fit: contain;
  z-index: -1;
  cursor: pointer;
}

.fruit {
  position: absolute;
  top: 130px;
  left: 30px;
  width: 65px;
  object-fit: contain;
  z-index: -1;
  cursor: pointer;
}

/* Styling for bomb */
.bomb {
  position: absolute;
  top: 130px;
  left: 30px;
  width: 65px;
  object-fit: contain;
  z-index: -1;
  cursor: pointer;
}

.scoretable {
  font-size: 1.5rem;
  height: 130px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  position: absolute;
  left: 5%;
  top: 5%;
  transform: translate(-5%, -5%);
  border: 1px solid white;
}

.scoretable div {
  display: flex;
  justify-content: space-between;
}

.modal {
  cursor: default;
  position: absolute;
  color: rgb(118, 118, 118);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./img/gameover.jpg);
  background-size: contain;
  pointer-events: all;
  z-index: 1000;
  padding-top: 50px;
}

.modal button {
  padding: 1rem 2rem;
  background: none;
  border: 1px solid rgb(118, 118, 118);
  color: rgb(118, 118, 118);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: "Pirata One", system-ui;
  margin-bottom: 50px;
}

.modal button:hover {
  background-color: rgb(234, 234, 234);
}

.modal h1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 50px;
}

.modal h2 {
  color: rgb(171, 0, 0);
  visibility: hidden;

  /* animation properties */
  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  /* other properties */
  width: 300px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto;
  margin-right: auto; 
}

.highscore{
  margin-left: 10px;
  animation: scorebump 0.5s ease infinite alternate;
}

.display {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalclose {
  opacity: 0;
  pointer-events: none;
}

.hammer {
  position: absolute;
  z-index: 1000;
  height: 100px;
  top: 0;
  left: 0;
  transform: translate(-15%, -15%);
  pointer-events: none;
}

.hammer.active{
  transform: translate(-15%, -15%) rotate(-30deg);
}

@keyframes scorebump {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes faceup {
  from {
    transform: translateY(145px);
  }
  to {
    transform: translateY(-130px);
  }
}

@keyframes facedown {
  from {
    transform: translateY(-130px);
  }
  to {
    transform: translateY(145px);
  }
}

@keyframes my-animation {
  from {
    width: 200px;
    top: 450px;
  }
  to {
    width: 100px;
    top: 300px;
  }
}

